/Extraction/calidad_aire.csv
/calidad_aire_Madrid.csv
/Data
/Data/Clean data/calidad_aire.csv
/Data/Clean data/calidad_aire.zip
/Data/Clean data/aire_m
/Data/Unclean API data
/Cleaning code/aire_m.csv