/Data/Clean_data/Clean_data.GITIGNORE
/Data/Clean_data/aire_antes.csv
/Data/Clean_data/aire_después.csv
/Data/Clean_data/aire_global_madrid.csv
/Data/Clean_data/calidad_aire_global.csv
/Data/Clean_data/Matriculaciones.csv
/Data/Clean_data/Presupuestos_madrid.xlsx
/Data/Clean_data/Presupuestos.csv
/Data/Clean_data/Presupuestos_madrid.csv
/Data/Clean_data/Registered_car_sales.csv
/Data/Clean_data/df_budget_mad.csv
/Data/Clean_data/df_budget_sp.csv
/SQL/CSV/df_sql_1.csv
/SQL/CSV/df_sql_2.csv
/SQL/CSV/df_sql_3.csv
/SQL/CSV/df_sql_4.csv
/Data/Clean_data/pollution_data.csv